{% load static %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block title %}BloodSeeker{% endblock %}</title>

  {# ОБЯЗАТЕЛЬНО: этот блок позволит подсовывать auth.css из дочерних шаблонов #}
  {% block extra_head %}{% endblock %}
</head>
<body>
  {% block content %}{% endblock %}

  {# если когда-нибудь захотим добавлять скрипты блоком #}
  {% block extra_scripts %}{% endblock %}
</body>
</html>
