{% load static %}
<!doctype html>
<html lang="ru">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto+Slab:wght@400;600&display=swap" rel="stylesheet">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{% block title %}BloodSeeker{% endblock %}</title>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <!-- подключить мобильные стили, браузер применит только при ширине <= 720px -->
  <link rel="stylesheet" href="{% static 'mobile_home.css' %}" media="(max-width: 720px)">

  {# ОБЯЗАТЕЛЬНО: этот блок позволит подсовывать auth.css из дочерних шаблонов #}
  {% block extra_head %}{% endblock %}
</head>
<body data-role="{% if request.user.is_authenticated and request.user.profile.role == 'medic' %}medic{% else %}user{% endif %}">
  {% block content %}{% endblock %}
  {% block extra_scripts %}{% endblock %}
</body>
</html>
